@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

nav ul{
    font-size: 14px;
    font-weight: 500;
    color: #424242;
}

nav li:hover{
    color: #5A47AB;
    cursor: pointer;
    text-decoration: underline;
}

.links>a{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    max-width: 200px;
    height: 60px;
    width: 100%;
    display: flex;
    gap: 0 30px;
    align-items: center;
    justify-content: center;
}

.cardsWrapper li{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    padding-bottom: 10px;
}

.cardsWrapper li:hover{
    color: #D05270;
    cursor: pointer;
    border-bottom: 1px solid #D05270;
}

.card p{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #424242;
    margin-top: 16px;
}

.card b{
    font-size: 24px;
    font-weight: 600;
    color: #D05270;
    margin-top: 14px;
}

.card small{
    font-size: 16px;
    font-weight: 400;
    color: #424242;
    margin-top: 12px;
}

.card a{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #D05270;
    border-bottom: 1px solid #D05270;
    margin-top: 30px;
    max-width: fit-content;
    
}
